<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="ConverterSoap" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:11904/Converter.asmx" binding="basicHttpBinding"
                        bindingConfiguration="ConverterSoap" contract="ServiceReference1.ConverterSoap"
                        name="ConverterSoap" />
        </client>
    </system.serviceModel>
</configuration>